.Dictionary form {
  text-align: center;
  border: 2px rgba(136, 93, 241, 0.6) solid;
}

.Dictionary section {
  background-color: white;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
}

.Dictionary input {
  width: 100%;
  line-height: 1;
  padding: 10px;
 
}

.Dictionary .form-text {
  opacity: 0.8;
  font-size: 13px;
}